*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth !important;
}
:root{
    /* --spancolor:var(--spancolor) */
    --texth1:rgb(202, 199, 199);
    --text1:rgb(135, 133, 133);
    --text2: rgb(81, 211, 81); 
}
body{
    overflow-x: none;
}
            /* header section styling start  */
.wrapper{
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}
header{
    /* background-color: transparent; */
    background-color: black;
    width: 100vw;
    min-height: 80px;
    padding: 0px 5px 0px 40px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: 0.3s ease;
}
header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 10px;
}
/* header section-header{
   background: transparent; 
}
section::before{
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: transparent;
  backdrop-filter: blur(10px);
} */
.wrapper .logo{
    flex-grow: 5;
    cursor: pointer;
}
.logo h1{
    color: white;
    text-align: start;
}
.logo span{
    color: var(--text2);
}
.wrapper nav{
    flex-grow: 1;
}
.wrapper nav a{
    padding: 10px 25px 10px 85px;
    text-transform: uppercase;
    color: white;
}
.wrapper nav a.active{
    color: var(--text2);
}
.wrapper nav a:hover{
    color: var(--text2);
}
            /* header section styling end  */

            /* hero section styling start */
.back-to-top {
    position: sticky;
    top: 90%;
    left: 94%;
    height: 50px;
    width: 50px;
    background-color: rgb(81, 211, 81);
    border-radius: 50%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
}
.first{
    background: url("./images/main.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.left-content{
    min-width: 30%;
    margin-top: 9%;
    padding: 5% 5% 5% 0%;
    /* padding: 95px 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-content .content{
    min-height: 60%;
    margin-left: 4em;
    /* padding: 0.4em;  */
}
.content h1{
    color: var(--texth1);
    font-size: 2.5em;
    margin-bottom: 45px;
    text-transform: uppercase;
    text-align: start;
}
.left-content img{
  animation-name: moveUp;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  transform: translateY(0);
  transform : 1s ease-in-out;
}
  @keyframes moveUp{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}
.content span{
    color: var(--text1);
}
.content .para{
    color: var(--text1);
    line-height: 24px;
    text-align: justify;
}
.img {
    min-width: 40%;
    min-height: 60%;
}
.img img{
    width: 100%;
}
.btn{
    margin-top: 55px;
    gap: 35px;
}
.btn-1{
    color: var(--text2);
    text-decoration: none;
    border: none;
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid var(--text2);
    border-radius: 0.6em;
    font-size: 16px;
    margin-right: 10px;
}
.btn-2{
    background-color: var(--text2);
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 35px;
    background-color: var(--text2);
    border: 1px solid var(--text2);
    border-radius: 0.6em;
    font-size: 16px;
}
.two{
    margin-bottom: 30px;
}
.two h1, span{
    text-transform: uppercase;
    margin-top: 5rem;
    font-size: 36px;
}
.two h1, p{
    text-align: center;
}
.two span{
    color: var(--text2);
}
.two p, dt{
    color: var(--text1);
}
.left-content, .img{
    min-height: 490px;
    transition: transform 1s ease-in-out;
    margin: 0em 1.5em 0em 1.5em;
}
h3{
    text-transform: capitalize;
    margin-top: 0.8em;
}
h3,dt{
    line-height: 1.4;
}
.right-content{
    max-width: 39rem;
}
.three, .img{
    min-width: 50%;
    min-height: 90%;
}
            /* hero section styling end */
.main2{
    background: url("./images/back1.avif") no-repeat , center;
    background-size: cover;
    background-attachment: fixed;
    /* position: fixed; */
}
.main2 h1{
   padding-top: 24px;
    color: white;
    text-align: center;
}
.main2 p{
    color: var(--text1);
}
.flex{
    display: flex;
    color: white;
    font-size: 5em;
}
.menues{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 2em 0;
}
.item, .fa-cloud-arrow-down, .fa-heart, .fa-twitter, .bold, span{
    color: #fff;
}
.bold{
    font-weight: lighter;
}
.fa-solid, .fas {
    font-weight: 900;
}
.item i {
    font-size: 3.2em;
}
.item b{
    font-size: 5em;
}
.item span {
    font-size: 1.5em;
}
.center{
    margin-top: 2em;
    margin-bottom: 5em;
}
.center, h1{
    color: black;
    text-transform: uppercase;
    text-align: center;
}
.center, span{
    color: var(--text2);
    text-transform: uppercase;
}
.center p{
    color: var(--text1);
    text-transform: lowercase;
    text-align: justify;
    text-align-last: center;
    line-height: 1.5;
}
.imp{
    background-color: black;
    padding-top: 0.2em;
}
.imp h1{
    color: var(--texth1);
}
.imp h1 span{
    color: var(--text1);
}
.imp h3{
    color: #fff;
}
.second-last{
    color: #fff;
    text-align: center;
    padding: 2em 25em 5em 25em;
}
.second-last h2{
    font-size: 2.5em;
    text-transform: uppercase;
    /* text-align: center; */
}
.second-last .para{
    color: var(--texth1);
    /* text-wrap: wrap; */
    text-align: center;
    line-height: 28px;
}
.second-last .btn{
    margin-top: auto;
}
.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 5em 2em;
}
.wall h2{
  text-align: center;
  margin-top: 2rem;
}
.wall h2 iframe span{
    text-align: center;
    font-size: 36px;
    margin-top: 6%;
}
.Gallery span{
    color: var(--text2);
}
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(-45deg);
}
.octagonWrap {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    overflow: hidden;
}
.octagon {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    background: #ffffff;
    border: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transition: transform 0.3s;
}
.octagon:hover {
  transform: scale(1.2) rotate(45deg);
}
.forms{
    background: url("./images/main.jpg") no-repeat center ;
    background-size: cover;
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2em;
}
.form{
    padding: 2em;
    background: black;
    height: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.form h2{
  color: #fff;
  text-align: start;
  font-size: 1.6em;
    text-transform: none;
    font-weight: normal;
    align-self: flex-start;
    padding: 1em 0;
    margin-left: 0.6em;
}
.form input {
    background: transparent;
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.807);
    padding: 1em 0;
    margin-bottom: 1.2em;
    color: rgba(199, 198, 198, 0.861);
}
.form textarea{
    background: transparent;
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.807);
    padding: 1em 0;
    margin-bottom: 1.2em;
    color: rgba(199, 198, 198, 0.861);
}
.ct {
    height: 480px;
    width: 100%;
    background-color: white;
    padding: 2em;
    padding-top: 3em;
}
.ct span {
    color: black;
    font-weight: bold;
    font-size: 1.6em;
    text-transform: none;
    font-weight: bold;
    align-self: flex-start;
    padding: 1em 0;
    margin-left: 0.6em;
}
.ct p{
  padding-bottom: 2em;
  color: var(--texth1);
  margin-top: 0.3em;
}
.data .d i{
  color: black;
}
.data .d{
  color: var(--texth1);
  line-height: 0.7;
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    justify-content: space-evenly;
    width: 100%;
    background: black;
    padding: 1em 2em;
}
.footer  .box-container .box h3 {
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
}
.footer .box-container .box a {
    display: block;
    font-size: 1em;
    color: white;
    padding: 1rem 0;
    font-weight: lighter;
}
.footer  .box-container .box a i {
    padding-right: 0.5rem;
    color: rgb(62, 181, 62);
}
.fa-solid, .fas {
    font-weight: 900;
}
.footer .credit {
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 1);
    background-color: black;
}
.credit, span{
    color: var(--text2);
}
/* FOOTER ENDS */

